@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .glass-effect {
    background: rgba(168, 132, 73, 0.1); /* um dourado translúcido */
    backdrop-filter: blur(12px);
    border-radius: 1.5rem;
    border: 1px solid rgba(189, 99, 47, 0.6);
  }
}
